body {
  background-color: white;
}

#board {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 408px;
}

.square {
  align-items: center;
  justify-content: center;
  background-color: ForestGreen;
  border: 1px solid black;
  display: flex;
  margin-left: -1px;
  margin-top: -1px;
  padding: 0;

  height: 52px;
  width: 52px;
}

.black, .white {
  border: 2px outset gray;
  border-radius: 50%;
  height: 80%;
  width: 80%;
}

.black {
  background-color: black;
}

.white {
  background-color: white;
}
