body {
  background-color: white;
}

#board {
  display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap;
  vertical-align: top;
}

.disabled {
  opacity: 0.5;
}

.square {
  align-items: center;
  justify-content: center;
  background-color: #55af55;
  border: 1px solid black;
  display: flex;
  margin-left: -1px;
  margin-top: -1px;
  padding: 0;

  height: 52px;
  width: 52px;
}

.black, .white {
  border: 2px outset gray;
  border-radius: 50%;
  height: 80%;
  width: 80%;
}

.black {
  background-color: black;
}

.white {
  background-color: white;
}

#hud {
  display: inline-block;
  line-height: 2;
  margin-left: 20px;
  margin-bottom: 20px;
  padding: 10px;
}

.blackChip, .whiteChip {
  border: 1px solid black;
  border-radius: 20%;
  display: inline-block;
  font-weight: bold;
  padding: 0 6px;
}

.blackChip {
  background-color: black;
  color: white;
}

.whiteChip {
  background-color: white;
  color: black;
}

.scoreSection {
  border: 1px solid black;
  display: inline-block;
  margin-right: 5px;
  width: 4em;
}

.scoreSection div {
  font-size: 2em;
  text-align: center;
}

.scoreLabel {
  border-bottom: 1px solid black;
  display: inline-block;
  text-align: center;
  width: 100%;
}

#blackScore {
  background-color: black;
  color: white;
}

#blackScore .scoreLabel {
  border-color: white;
}

#gameSelection {
  margin: 0 auto;
  text-align: center;
  width: 60%;
}

#gameSelection button {
  background-color: white;
  border: 2px outset #aaaaaa;
  border-radius: 5%;
  color: black;
  margin: 2%;
  padding: 5%;
}

#gameSelection button:hover {
  background-color: #efefef;
}

#gameSelection button:focus {
  background-color: #dddddd;
  border-style: inset;
}
